<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link href="resources/blocks-and-beyond.css" rel="stylesheet">
</head>
<body>
<header>
    <div id="mainTitle">Blocks and Beyond 2019: Beyond Blocks</div>
    <div id="subTitle">3rd Workshop on Lessons and Directions for First Programming Environments</div>
    <div id="subSubTitle">
        A <a href="https://human-se.github.io/vlhcc2019/">VL/HCC 2019</a> workshop
        in Memphis, TN, USA, Oct. 18, 2019
    </div>
</header>
<div id="dates">

    <div id="datesTitle">Important Dates</div>

    <div class="dayentry">
        <span class="day">Fri 12 Jul 2019:</span>
        <span class="dayItem">Paper submissions due</span><br>
        (due by end of day, anytime on Earth)
    </div>

    <div class="dayentry">
        <span class="day">Fri 09 Aug 2019</span>
        <span class="dayItem">Author notification</span>
    </div>

    <div class="dayentry">
        <span class="day">Fri 16 Aug -- Fri 20 Sep, 2019</span>
        <span class="dayItem">Rolling demo/poster abstract submissions</span><br>
        (notification will come  a few days after submission)
    </div>

    <div class="dayentry">
        <span class="day">Fri 16 Aug -- Fri 25 Oct, 2019</span>
        <span class="dayItem">Rolling demo/poster summary documents submission submissions</span>
        (feedback will typically come within a week, and definitely by Mon 28 Oct).
    </div>

    <div class="dayentry">
        <span class="day">Mon 09 Sep 2019</span>
        <span class="dayItem">Camera-ready paper submissions and IEEE copyright forms</span>
        (note that the IEEE worskhop proceedings is not yet confirmed).
    </div>

    <div class="dayentry">
        <span class="day">Fri 13 Sep 2019</span>
        <span class="dayItem">Early registration for VL/HCC and B&B ends</span>
    </div>

    <div class="dayentry">
        <span class="day">Fri 18 Oct 2019</span>
        <span class="dayItem">Workshop in Memphis</span>
    </div>

    <div class="dayentry">
        <span class="day">Fri 01 Nov 2019</span>
        <span class="dayItem">Camera-ready demo/poster summary documents and IEEE copyright forms</span>
        (note that the IEEE worskhop proceedings is not yet confirmed).
    </div>

</div>

<div id="submission">
    <div id="datesTitle">Paper Submissions</div>

    <strong>This section is still being edited for 2019!</strong>

    <p> We invite three kinds of paper submissions to spark discussion at the workshop:

    <ol>

        <li> A 2 to 3 page <b>position statement</b> describing an idea,
            research question, or work in progress related to the design,
            teaching, or study of visual programming environments.</li>


        describing an idea, research
        question, or work in progress related to the design, teaching, or study of blocks programming
        environments.

        <li> A <b>full paper</b> (4 to 8 pages, including references) describing previously unpublished results
            involving the design, study, or pedagogy of blocks programming
            environments.

    </ol>

    We invite three kinds of paper submissions to spark discussion at the workshop.
    A position statement (up to 2 pages should we extend this to 3 pages?)

    A short paper (up to 4 pages, excluding references and/or acknowledgments) or long paper (up to 8 pages, excluding references and/or acknowledgments) describing previously unpublished results involving the design, study, or pedagogy of visual programming environments.
    To maximize discussion time at the workshop, paper presentation times will be very short. Actual times will depend on the number of accepted submissions but are estimated to be in the range of 3 to 5 minutes for position papers, 4 to 7 minutes for short papers, and 6 to 10 minutes for long papers.
    For all kinds of papers (including position statements), an abstract must be submitted to the Easy Chair Blocks and Beyond  2019 workshop submission site by the end of 12 Jul 2019.
    Completed papers must be submitted as PDF files to the Easy Chair Blocks and Beyond workshop submission site by the end of 19 Jul 2019. Use an IEEE double-column conference template to format your submission.
    We do not use a double blind review process, so submissions should include author information.
    As with previous Blocks & Beyond workshops, we plan to publish accepted papers as an IEEE workshop proceedings. Publication will require submitting an IEEE copyright form.


    <p>For either kind of paper, an abstract must be submitted to the
        <a href="https://easychair.org/conferences/?conf=blocksbeyond2017">
            Easy Chair Blocks and Beyond workshop submission site</a> by the end of 19 Jul 2017.

    <p>Completed papers must be submitted as PDF files to the
        <a href="https://easychair.org/conferences/?conf=blocksbeyond2017">
            Easy Chair Blocks and Beyond workshop submission site</a> by the end of 26 Jul 2017.
        Use an
        <a href="http://www.ieee.org/conferences_events/conferences/publishing/templates.html">IEEE Conference template</a>
        to format your submission.

    <p>Submitted paper abstracts and PDFs can be updated at any time through
        the end of day on 26 Jul 2017 (anytime on Earth). Authors are encouraged
        to submit drafts that can be updated until the 26 Jul deadline.
        Drafts should be indicated by putting <code>Draft:</code> at the
        beginning of the title in the paper.

    <p>As with the <a href="http://ieeexplore.ieee.org/xpl/mostRecentIssue.jsp?punumber=7359188">
        Proceedings of the First Blocks and Beyond Workshop</a>,
        we plan to publish the proceedings of the Second Workshop
        with the IEEE.

    <p>Some expected differences from the 1st workshop:

    <ul>

        <li> a single-track format.
        <li> longer full-paper presentation times (tentatively, 15 minutes);
            position statement presentations will be shorter "flash talks"
            (about 5 minutes).

    </ul>

    <p> Submissions are not anonymous, so do not anonymize your papers.

        <!--
        <p> Because this workshop will be discussion-based, rather than a
        mini-conference, the number of presentation/demonstration slots are
        limited. Authors for whom presentation or demonstration is essential
        should indicate this in their submission.
        -->
</div>

<div id="submission">
    <div id="datesTitle">Demos and Posters</div>
    <p><span class="bbemph2">Demo/poster abstract submissions will be accepted through
Fri. Sep. 22</span>.
        But consider early registration and hotel reservations by
        <span class="bbemph2">Fri. Sep. 8</span>.
        <a href="demo-poster.html">See the details.</a>
    <p>
        All workshop participants (whether or not they have an accepted
        position statement or full paper) are encouraged to present a demo
        and/or poster of their work during the workshop

    <p>Here are <a href="final-summary-submission.html">instructions for the final submission of demo/poster summaries
        for the published proceedings</a>.
</div>

{{ content }}
</body>
</html>